@mixin h1($color: $white-color) {
    font-weight: 700;
    font-size: 5.6rem;
    text-transform: uppercase;
    color: $color;

    @media ($tablet) {
        font-size: 3.6rem;
    }

    @media ($tablet-sm) {
        font-size: 2.2rem; 
    }

    @media ($mobile) {
        text-align: center;
    }
}

@mixin h2() {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 130%;
    text-align: center;
    color: $text-color-1;

    @media ($tablet) {
        font-size: 2.6rem;
    }

    @media ($mobile) {
        font-size: 2rem;
    }
}

@mixin visually-hidden() {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin text-small() {
    font-weight: 300;
    font-size: 1.8rem;
    text-align: right;
    color: $text-color-2;

    @media ($mobile) {
        font-weight: 400;
        font-size: 0.9rem;
        color: $text-color-4;
    }
}

@mixin text-small-2() {
    font-weight: 400;
    font-size: 1.9rem;
    color: $text-color-1;

    @media ($tablet) {
        font-size: 1.2rem;
    }

    @media ($mobile) {
        font-size: 1.4rem;
        line-height: 120%;
    }
}

@mixin text-medium() {
    font-weight: 300;
    font-size: 2.2rem;
    text-align: center;
    color: $text-color-3;

   @media ($tablet) {
       font-size: 1.4rem;
   } 
}

@mixin text-large($fw: 300, $lh: 167%, $color: $white-color) {
    font-weight: $fw;
    font-size: 2.4rem;
    line-height: $lh;
    color: $color;

    @media ($tablet) {
        font-size: 1.5rem;
        text-align: center;
    }
}

@mixin img() {
    object-fit: cover;
    object-position: center;
}

%btn {
    font-family: inherit;
    position: relative;
    
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    border-color: transparent;

    transition: all 0.7s ease;
  
    background: $color-btn;
    border-radius: 2.5rem;
    border: none;
    outline: 0;

    max-width: 49rem;

    padding: 2.1rem 9rem 2.1rem 3.1rem;

    @include text-large($fw: 400, $lh: 140%);
    
    &:hover {
      opacity: .7; 
    }

    &::after {
        position: absolute;
        content: '';
        
        width: 6rem;
        height: 6rem;
        background: url('../images/icons/hand.svg'), rgba(255, 255, 255, 0.2);
        background-repeat: no-repeat;
        background-size: 3.7rem 3.2rem;
        background-position: center;

        outline: 1px solid rgba(255, 255, 255, 0.2);
        outline-offset: -1px;
        border-radius: 1.2rem;

        right: 1rem;

        @media ($mobile) {
            right: .6rem;
        }
    }

    @media ($tablet) {
        max-width: 30.2rem;
        padding: 1.8rem 7rem 1.9rem 2.1rem;
        font-size: 1.3rem;

        &::after {
            width: 3.7rem;
            height: 3.7rem;
            background-size: 2.7rem 2.2rem;
        }
    }

    @media ($tablet-sm) {
        font-size: 1.2rem;
        max-width: 26rem;
        padding: 1.3rem 5rem 1.3rem 1.3rem;
    }
}

@mixin section() {
    margin-bottom: 5rem;
    
    &:last-child {
        margin-bottom: 0;
    }

    @media ($mobile) {
        margin-bottom: 2.5rem;
    }
}