// colors
$main-color: #7000e3;
$second-color: #9c87d9;

$text-color-1: #343a40;
$text-color-2: #3c3c3c;
$text-color-3: #232323;
$text-color-4: #1a2e35;

$white-color: #ffffff;

$color-btn: linear-gradient(320deg, #fe4c04 0%, #ff8d5f 100%);
$color-btn-hover: #ff5733;
$color-bg: radial-gradient(50% 50% at 50% 50%, #debdff 0%, #f6ebff 100%);
$color-bg-2: #ffe7e7;
$color-bg-3: #fcf9ff;

//font
$mainFont: 'Ubuntu', serif;

// screens
$tablet: 'max-width: 768px';
$tablet-sm: 'max-width: 600px';
$mobile: 'max-width: 320px';
