.arrows {
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 16.1rem;

    color: $text-color-1;

    @media ($tablet) {
        width: 10.2rem;
    }

    @media ($mobile) {
        width: 8.4rem;
    }
    
    &__button {
        display: flex;
        align-items: center;

        cursor: pointer;
        padding: 1rem;
        background-color: transparent;
        color: $white-color;
        border: none;
        outline: none;
        border-radius: 0.5rem;

        @media ($tablet) {
            padding: 0.5rem;
        }

        svg {
            width: 34px;
            height: 35px;
    
            @media ($tablet) {
                width: 2.1rem;
                height: 2.1rem;
            }

            @media ($mobile) {
                width: 2rem;
                height: 2rem;
            }
        }
    }

    &__button--left {
        transform: rotateY(180deg);
    }

    &__button--disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }

    &__count {
        font-weight: 300;
        font-size: 1.7rem;
        letter-spacing: 0.01em;

        @media ($tablet) {
            font-size: 1rem;
        }

        @media ($mobile) {
            font-size: 1.2rem;
        }
    }
}

.svg-icon {
    transition: all 0.7s ease-in-out;

    path {
        transition: inherit;
    }
}

.svg-icon:hover path {
    stroke: $color-btn-hover;
}

.svg-icon:hover path:nth-child(2) {
    fill: $color-btn-hover;
}

