.letter {
    background-color: $color-bg-3;
    flex: 1 1 32%;
    border-radius: 1.9rem;

    @media ($tablet) {
        flex: 1 1 18.154rem;
    }

    @media ($tablet-sm) {
        flex: 1 1 250px;

        &:nth-child(n+2) {
            display: none;
        }
    }

    &__wrapper {
        padding: 3.885rem 2.281rem 4.467rem 2.854rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        @media ($tablet) {
            padding: 2.4rem 2.7rem 2.7rem 1.8rem; 
        }
    }   

    &__title {
        text-align: left;
        @include text-small-2();
        margin-bottom: 3.855rem;
    }

    &__image {
        align-self: center;
        width: 14.7rem;
        height: 21.2rem;

        @media ($tablet) {
            width: 9.379rem;
            height: 13.6rem;
        }
    }
}
