.header {
    margin-bottom: 2.5rem;
    
    @media ($tablet) {
        margin-bottom: 1rem;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-img {
        width: 19.4rem;
        height: 4.8rem;
    
        @media ($tablet) {
            width: 10.5rem;
            height: 2.595rem;
        }
    
        @media ($mobile) {
            width: 7.1rem;
            height: 1.7rem;
        }
    }

    &__phone {
        @include text-small();
        transition: all 0.7s ease;

        &:hover {
            color: $color-btn-hover;
        }
    }
}
